html{
    background-color: blueviolet;
}

.btn-primary{
    background-color: #00437d;
}

.btn-primary-outline{
    color: #173647;background: 0 0;border-color: #173647;
}
.btn-primary-outline:hover{
    color: #fff;background: #0b5ed7;border-color: #173647;
}

header{position: fixed;top: 0;width: 100%;z-index: 999;}
.nav-container{max-width: 1920px;margin-right: 40px;margin-left: 40px;width: 100%;}
.nav-main {background: #fff;display: flex;height: 65px;margin-top: 0;width: 100%;z-index: 999; border-bottom: solid 1px #c5c5c5;}
nav {align-items: center;display: flex;height: 65px;width: 100%;}
.navbar-brand {height: 50px;width: auto;}
.nav{margin-left: 30px;}
.nav-link, .nav-link:hover{background-color: transparent;color: #173647;cursor:pointer;}
.nav-buttons{float:right;}
.nav-spacer {height: 65px;background-color: transparent;width: 100%;}

.hero{height:500px;}
.hero img{width:600px;height:500px;object-fit:cover;padding-left:20px;}
.hero-text{padding-top: 80px;padding-left: 50px;font-family: "Open Sans",sans-serif;}
.hero-h1-underline{margin-bottom: 25px;width:150px;border-bottom: solid 3px #00437d;}
.hero h1{line-height: 3.43rem;letter-spacing: -.005em;font-weight: 600;}
.hero .h5{line-height: 2rem;letter-spacing: .005em;}
.hero-button{margin-top:60px;}

.cardholder{
    width:100%;
    height: 500px;
    background-color: #eff0f0;
    font-family: "Open Sans",sans-serif;
}
.cardholder .row{
    height: 500px;
}
.cards{
    text-align: center;
}
.cards span{
    margin-top:50px;
    color:#00437d;
}
.cards h3{
    font-size: 28px;
    margin-top: 40px;
    font-weight: 600;
}

.cards h5{
    text-align: center;
    margin-top: 40px;
    padding: 0 15px 15px;
    color: rgba(23,54,71,.6);
}
.cards .btn{
    margin-top: 40px;
}

.cards-active{
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(23 54 71 / 20%);
    border-top: 10px solid #00437d;
    position: relative;
    bottom: 10px;
}
.cards-active::after, .cards-active::before {
    box-sizing: border-box;
}