.menubar{
    font-weight: 600;
    font-size: 2.5vh;
    color: #6c6c6c;
    overflow-y: auto;
}
.nameBox{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 2.5vh;
    border-bottom: solid 3px #4d5360;
}
.nameBoxLogo{
    float:left; 
    height:6vh;
    min-height: 6vh;
    min-width: 6vh;
    width:6vh;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 2.5vh;
    letter-spacing: 1px;
  }



  .menubarButtonContainer{
    width: 100%;
    display: inline-block;
  }
  .menubarButtonSubContainer{
    display: none;
    font-size: 2vh;
  }
  .menubarButtonMain, .menubarButtonSub{
    height: 6vh;
    display:flex;
    align-items: center;
    width: 100%;
  }
  .menubarButtonMain > a, .menubarButtonSub > a{
    color: #6c6c6c;
    text-decoration: none;
    text-align: center;
  }
  .menubarBottom{
    width: 100%;
    position: absolute;
    bottom: 10px;
  }




  .privSiteTop{
    font-weight: 600;
    font-size: 2.5vh;
    display:flex;
    align-items: center;
  }

  .nameBoxLogoAdatlap{
    float:left; 
    min-height: 15vh;
    min-width: 15vh;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 6vh;
    letter-spacing: 1px;
  }

  tr td:first-child {
    width: 1%;
    white-space: nowrap;
  }

  .listaChecked{
    background-color: #1271ff76;
  }

  .listClose{
    color: #6c757d;
  }
  .listClose:hover{
    color: #0d6efd;
  }

  .tovabbiAdatok{
    cursor: pointer;
    color: #0d6efd;;
  }
  .tovabbiAdatok:hover{
    color:#0a58ca;
  }
  